Repository silverstripe/silverstripe-framework, pull requests merged in 2018-12, with the labels that each got.

#8653 Update 02_Images.md
  docs/en/02_Developer_Guides/14_Files/02_Images.md
Labels: affects/v4, type/docs

#8650 FIX: Manifest should ignore vendor folders within packages contained in vendor
  src/Core/Manifest/ManifestFileFinder.php
  tests/php/Core/Manifest/fixtures/manifestfilefinder/vendor/myvendor/thismodule/vendor/nestedvendor.txt
Labels: affects/v4, change/patch

#8585 DOC: Update documentation on `How to extend the CMS interface`
  docs/en/02_Developer_Guides/15_Customising_the_Admin_Interface/How_Tos/Extend_CMS_Interface.md
Labels: affects/v4, change/minor, effort/easy, type/docs

#8480 allow dataobject get_one without passing a class
  src/ORM/DataObject.php
  tests/php/ORM/DataObjectTest.php
Labels: affects/v5, change/major

#7681 DOCS Update security release docs / satis instructions
  docs/en/05_Contributing/05_Making_A_SilverStripe_Core_Release.md
Labels: affects/v4, change/patch, effort/easy, impact/medium, type/docs

#8298 DOCS Update cow docs to reflect current process
  docs/en/05_Contributing/05_Making_A_SilverStripe_Core_Release.md
Labels: affects/v4, type/docs

#8654 Update tests to pass in CWP kitchen sink context
  tests/php/Forms/ConfirmedPasswordFieldTest.php
  tests/php/Security/MemberAuthenticatorTest.php
  tests/php/Security/MemberCsvBulkLoaderTest.php
  tests/php/Security/MemberTest.php
  tests/php/Security/PasswordValidatorTest.php
  tests/php/Security/SecurityTest.php
Labels: affects/v4, change/patch
