Repository silverstripe/silverstripe-framework, pull requests merged in 2018-05, with the labels that each got.

#8049 Update 00_Member.md
  docs/en/02_Developer_Guides/09_Security/00_Member.md
Labels: affects/v4, type/docs

#8050 DOCS: Import HTTPRequest missing in Controller example
  docs/en/02_Developer_Guides/02_Controllers/01_Introduction.md
Labels: affects/v4, type/docs

#8048 Release process docs improvements
  docs/en/05_Contributing/04_Release_Process.md
Labels: affects/v4, type/docs

#8072 Update index.md
  docs/en/02_Developer_Guides/13_i18n/index.md
Labels: affects/v4, type/docs

#8003 Docs for personal data usage in core
  docs/en/02_Developer_Guides/09_Security/06_Personal_Data.md
Labels: affects/v4, change/minor, impact/low, type/docs

#8074 SINGULARNAME and PLURALNAME are without underscore
  docs/en/02_Developer_Guides/13_i18n/index.md
Labels: affects/v4, type/docs

#8079 Personal data usage docs corrections
  docs/en/02_Developer_Guides/09_Security/06_Personal_Data.md
Labels: affects/v4, type/docs

#8081 Add semver reference in core committers guide
  docs/en/05_Contributing/09_Core_committers.md
Labels: affects/v4, type/docs

#8096 Minor grammar fix - 05_Template_Inheritance.md
  docs/en/02_Developer_Guides/01_Templates/05_Template_Inheritance.md
Labels: affects/v4, type/docs

#8107 Removed old changelogs (fixes #8035)
  docs/en/04_Changelogs/2.0.1.md
  docs/en/04_Changelogs/2.0.2.md
  docs/en/04_Changelogs/2.1.0.md
  docs/en/04_Changelogs/2.1.1.md
  docs/en/04_Changelogs/2.2.0.md
  docs/en/04_Changelogs/2.2.1.md
  docs/en/04_Changelogs/2.2.2.md
  docs/en/04_Changelogs/2.2.3.md
  docs/en/04_Changelogs/2.2.4.md
  docs/en/04_Changelogs/2.3.0.md
  docs/en/04_Changelogs/2.3.1.md
  docs/en/04_Changelogs/2.3.10.md
  docs/en/04_Changelogs/2.3.11.md
  docs/en/04_Changelogs/2.3.12.md
  docs/en/04_Changelogs/2.3.13.md
  docs/en/04_Changelogs/2.3.2.md
  docs/en/04_Changelogs/2.3.3.md
  docs/en/04_Changelogs/2.3.4.md
  docs/en/04_Changelogs/2.3.5.md
  docs/en/04_Changelogs/2.3.6.md
  docs/en/04_Changelogs/2.3.7.md
  docs/en/04_Changelogs/2.3.8.md
  docs/en/04_Changelogs/2.3.9.md
  docs/en/04_Changelogs/2.4.0.md
  docs/en/04_Changelogs/2.4.1.md
  docs/en/04_Changelogs/2.4.10.md
  docs/en/04_Changelogs/2.4.2.md
  docs/en/04_Changelogs/2.4.3.md
  docs/en/04_Changelogs/2.4.4.md
  docs/en/04_Changelogs/2.4.5.md
  docs/en/04_Changelogs/2.4.6.md
  docs/en/04_Changelogs/2.4.7.md
  docs/en/04_Changelogs/2.4.8.md
  docs/en/04_Changelogs/alpha/2.4.0-alpha1.md
  docs/en/04_Changelogs/beta/2.4.0-beta1.md
  docs/en/04_Changelogs/beta/2.4.0-beta2.md
  docs/en/04_Changelogs/rc/2.3.11-rc1.md
  docs/en/04_Changelogs/rc/2.3.8-rc1.md
  docs/en/04_Changelogs/rc/2.4.0-rc1.md
  docs/en/04_Changelogs/rc/2.4.0-rc2.md
  docs/en/04_Changelogs/rc/2.4.0-rc3.md
  docs/en/04_Changelogs/rc/2.4.1-rc1.md
  docs/en/04_Changelogs/rc/2.4.1-rc2.md
  docs/en/04_Changelogs/rc/2.4.2-rc1.md
  docs/en/04_Changelogs/rc/2.4.2-rc2.md
  docs/en/04_Changelogs/rc/2.4.3-rc1.md
  docs/en/04_Changelogs/rc/2.4.3-rc2.md
  docs/en/04_Changelogs/rc/2.4.4-rc1.md
  docs/en/04_Changelogs/rc/2.4.4-rc2.md
  docs/en/04_Changelogs/rc/2.4.5-rc1.md
  docs/en/04_Changelogs/rc/2.4.8-rc1.md
Labels: affects/v3, affects/v4, type/docs
