Repository silverstripe/silverstripe-framework, pull requests merged in 2018-02, with the labels that each got.

#7853 Removed bad quote in i18n doc
  docs/en/02_Developer_Guides/13_i18n/index.md
Labels: affects/v4, type/docs

#7857 Create licence file so that GitHub (and humans) can more easily find it
  LICENSE
  README.md
Labels: affects/v3, type/docs

#7859 Update 4.1.0-rc1.md
  docs/en/04_Changelogs/rc/4.1.0-rc1.md
Labels: affects/v4, type/docs

#7860 BUG Fix incorrect display logic on password field
  src/Forms/ConfirmedPasswordField.php
Labels: affects/v4, change/minor, effort/easy, impact/medium, type/bug

#7864 BUG Fix incorrect convert slashes argument
  src/Core/Convert.php
  tests/php/Core/ConvertTest.php
Labels: affects/v4, change/patch, effort/easy, impact/critical, type/bug

#7865 Fix docs for configuring before/after a specific config file
  _config/i18n.yml
  docs/en/02_Developer_Guides/02_Controllers/01_Introduction.md
  docs/en/02_Developer_Guides/02_Controllers/02_Routing.md
  docs/en/02_Developer_Guides/13_i18n/index.md
Labels: affects/v4, type/docs

#7868 Update reference to TestAssetStore
  tests/php/Forms/HTMLEditor/HTMLEditorFieldTest.php
  tests/php/View/RequirementsTest.php
  tests/php/View/SSViewerTest.php
Labels: affects/v4, change/patch, effort/easy, impact/high, type/enhancement

#7867 Update validation in Developer guides
  docs/en/02_Developer_Guides/00_Model/09_Validation.md
Labels: affects/v4, type/docs

#7879 BUG Fix extend() failing on protected extend-prefixed methods
  src/Core/Extensible.php
  src/Core/Extension.php
Labels: affects/v5, change/patch, effort/easy, impact/high, type/bug

#7881 DOCS: remove backticks from Markdown link
  docs/en/02_Developer_Guides/05_Extending/04_Shortcodes.md
Labels: affects/v4, type/docs

#7884 Update 4.0.0.md
  docs/en/04_Changelogs/4.0.0.md
Labels: affects/v4, type/docs

#7890 BUG Fix incorrect assets created when ASSETS_PATH !== BASE_PATH . '/assets'
  tests/bootstrap/init.php
Labels: affects/v4, change/patch, effort/easy, impact/low, type/bug

#7885 DOCS update email docs to use correct config syntax
  docs/en/02_Developer_Guides/10_Email/index.md
Labels: affects/v4, type/docs

#7891 Update 01_Error_Handling.md
  docs/en/02_Developer_Guides/07_Debugging/01_Error_Handling.md
Labels: affects/v4, type/docs

#7892 BUG Fix environment variable assignment
  src/Core/Environment.php
  tests/php/Core/EnvironmentTest.php
Labels: affects/v4, change/patch, effort/easy, impact/high, type/bug

#7898 Remove deprecated @package and @subpackage
  docs/en/05_Contributing/14_PHP_Coding_Conventions.md
Labels: affects/v4, type/docs

#7874 FIX Split HTML manipulation to onadd, so elements are not accidentally duplicated
  javascript/TreeDropdownField.js
Labels: affects/v3, change/patch

#7896 Delete orphaned Group_Members records after deleting a Member
  src/Security/Member.php
Labels: affects/v4, change/patch
