Repository silverstripe/silverstripe-framework, pull requests merged in 2019-11, with the labels that each got.

#9317 Change example domains
  docs/en/02_Developer_Guides/04_Configuration/01_SiteConfig.md
Labels: affects/v4, type/docs

#9305 BUG FormAction title property cannot be set if useButtonTag is false
  src/Forms/FormAction.php
  tests/php/Forms/FormActionTest.php
Labels: affects/v4, change/patch, effort/easy, impact/low, type/bug

#9303 DOCS Update SilverStripe Contributing Code GitHub labels
  docs/en/05_Contributing/01_Code.md
Labels: affects/v4, feedback-required/core-team, type/docs

#9300 Improvement to docs for send_file function
  src/Control/HTTPRequest.php
Labels: affects/v4, type/docs

#9250 DOCS Remove archive download references
  docs/en/00_Getting_Started/02_Composer.md
  docs/en/00_Getting_Started/index.md
  docs/en/02_Developer_Guides/01_Templates/06_Themes.md
  docs/en/02_Developer_Guides/05_Extending/00_Modules.md
  docs/en/02_Developer_Guides/06_Testing/index.md
  docs/en/04_Changelogs/4.5.0.md
  docs/en/05_Contributing/05_Making_A_SilverStripe_Core_Release.md
Labels: affects/v4, type/docs

#9327 FIX: Session::restart() didn't correctly restart session (fixes #9259)
  src/Control/Session.php
Labels: affects/v4, change/patch

#9342 Change from "Team" to Team::class
  docs/en/02_Developer_Guides/00_Model/02_Relations.md
Labels: affects/v4, type/docs
