Repository silverstripe/silverstripe-framework, pull requests merged in 2019-04, with the labels that each got.

#8894 📝 DOCS - Update path
  docs/en/02_Developer_Guides/03_Forms/Field_types/03_HTMLEditorField.md
Labels: affects/v4, type/docs

#8893 DOCS Limited "critical security fixes" release lines
  docs/en/05_Contributing/04_Release_Process.md
Labels: affects/v4, type/docs

#8895 DOCS HistoryViewerField updates
  docs/en/02_Developer_Guides/00_Model/10_Versioning.md
Labels: affects/v4, type/docs

#8898 FIX: Show RightTitle on CheckboxField
  templates/SilverStripe/Forms/CheckboxField_holder.ss
  templates/SilverStripe/Forms/CheckboxField_holder_small.ss
Labels: affects/v4, change/patch

#8241 Separate core error logging from standard LoggerInterface
  _config/logging.yml
  _config/tests.yml
  docs/en/02_Developer_Guides/07_Debugging/01_Error_Handling.md
  src/Dev/State/LoggerState.php
  src/Logging/DebugViewFriendlyErrorFormatter.php
  src/Logging/DetailedErrorFormatter.php
  src/Logging/HTTPOutputHandler.php
  src/Logging/MonologErrorHandler.php
  tests/php/Logging/MonologErrorHandlerTest.php
Labels: affects/v4, change/minor, type/enhancement

#8880 BUG Resolve issue where schema changes between enum / non-enum types
  src/Forms/GridField/GridFieldLevelup.php
  src/ORM/Connect/DBSchemaManager.php
  src/includes/constants.php
Labels: affects/v4, change/patch

#8900 MemberTest and SecurityTest now set the default authenticator to use
  tests/php/Security/MemberTest.php
  tests/php/Security/SecurityTest.php
Labels: affects/v4, change/patch

#8901 Fix Undefined variable: result when catch Exception
  src/Dev/CsvBulkLoader.php
Labels: affects/v4, change/patch

#8907 DOCS Upgrading guide known issues and self-update
  docs/en/03_Upgrading/01_Upgrading_project.md
Labels: affects/v4, type/docs

#8905 FIX: Better error message when GridFieldLevelup passed bad record details
  src/Forms/GridField/GridFieldLevelup.php
Labels: affects/v4, change/patch

#8913 Fix formatting
  docs/en/02_Developer_Guides/00_Model/11_Scaffolding.md
Labels: affects/v4, type/docs

#8920 BUG Back-port silverstripe-admin#769 to 3.7
  javascript/jquery-ondemand/jquery.ondemand.js
Labels: affects/v3, change/patch

#8876 NEW Update FieldList::replaceField API to match removeByName
  src/Forms/CompositeField.php
  src/Forms/FieldList.php
Labels: affects/v4, change/minor

#8923 DOCS composer autoload examples should be psr-4
  docs/en/03_Upgrading/02_Upgrading_module.md
Labels: affects/v4, type/docs

#8922 FIX Replace substr with mb_substr to get the correct position
  src/ORM/FieldType/DBText.php
Labels: affects/v4, change/patch

#8766 MINOR: Change “Choose Page” to “Search or choose Page”
  lang/en.yml
  src/Forms/TreeDropdownField.php
Labels: affects/v4, change/minor

#8928 Update 03_Disable_Anchor_Links.md
  docs/en/02_Developer_Guides/01_Templates/How_Tos/03_Disable_Anchor_Links.md
Labels: affects/v4, type/docs

#8932 Added missing Permission class to example
  docs/en/02_Developer_Guides/09_Security/02_Permissions.md
Labels: affects/v4, type/docs

#8921 FIX Calculate threshold condition with SQL rather than PHP
  src/ORM/FieldType/DBForeignKey.php
Labels: affects/v4, change/patch

#8909 Fix reference to webconfig.php, an invalid file
  docs/en/03_Upgrading/01_Upgrading_project.md
Labels: affects/v4, type/docs

#8943 DOCS: Use environment variables in example SMTP config
  docs/en/02_Developer_Guides/10_Email/index.md
Labels: affects/v4, type/docs

#8941 Docs: Update Dynamic_Default_Fields.md
  docs/en/02_Developer_Guides/00_Model/How_Tos/Dynamic_Default_Fields.md
Labels: affects/v4, type/docs
