Repository silverstripe/silverstripe-framework, pull requests merged in 2019-02, with the labels that each got.

#8571 API LoginForm::authentiator_class is now deprecated, use getters or setters instead
  .upgrade.yml
  src/Security/LoginForm.php
  src/Security/MemberAuthenticator/CMSMemberLoginForm.php
  src/Security/MemberAuthenticator/MemberLoginForm.php
Labels: affects/v4, change/minor

#8779 DOCS Added 'Modifying Meta Tags' entry
  docs/en/02_Developer_Guides/01_Templates/02_Common_Variables.md
Labels: affects/v4, type/docs

#8775 FIX: Prevent null->null being flagged as a value change (fixes #8774)
  src/ORM/DataObject.php
  tests/php/ORM/DataObjectTest.php
Labels: affects/v4, change/patch

#8772 FIX: Block Manifest of the compatibility class Object and lean on the compatibility auto loader
  core/compat/_manifest_exclude
Labels: affects/v3, change/patch

#8790 DOCS: Fix broken lesson links, add missing lessons
  docs/en/01_Tutorials/index.md
Labels: affects/v4, type/docs

#8769 FIX Escape wildcard characters when matching database name in databaseExists
  src/ORM/Connect/MySQLSchemaManager.php
Labels: affects/v4, change/patch

#8174 MINOR Replace use of deprecated getFixtureFactory() with FixtureTestState
  src/Dev/SapphireTest.php
Labels: affects/v4, change/minor

#8795 FIX Caching the result of counting a foreign list for performance
  src/ORM/FieldType/DBForeignKey.php
Labels: affects/v4, change/patch

#8798 DOCS Add example for disabling emails in dev mode via configuration
  docs/en/02_Developer_Guides/10_Email/index.md
Labels: affects/v4, type/docs

#8791 Add file migration system requirements
  docs/en/02_Developer_Guides/14_Files/05_File_Migration.md
Labels: affects/v4, type/docs

#8822 DOCS Updating "lesson 0" to a relevant link
  docs/en/01_Lessons/index.md
Labels: affects/v4, type/docs

#8818 Update nginx example to support assets better
  docs/en/00_Getting_Started/01_Installation/How_To/Configure_Nginx.md
Labels: affects/v4, type/docs
