Repository silverstripe/silverstripe-framework, pull requests merged in 2020-07, with the labels that each got.

#9194 FIX: Set many-many-through joinRecord on newly added records.
  src/ORM/ManyManyThroughList.php
  tests/php/ORM/ManyManyThroughListTest.php
Labels: affects/v4, change/patch, feedback-required/author

#9577 DOCS update typo
  docs/en/04_Changelogs/3.7.4.md
Labels: affects/v3, type/docs

#9576 DOCS add note to changelog for Solr changes
  docs/en/04_Changelogs/4.6.0.md
Labels: affects/v4, type/docs

#9578 DOCS add 3.7.4 changelog to `4`
  docs/en/04_Changelogs/3.7.4.md
Labels: affects/v4, type/docs

#9406 v4 improvement: Standardise getCMSValidator for DataObjects/Forms
  docs/en/02_Developer_Guides/03_Forms/01_Validation.md
  src/Forms/CompositeValidator.php
  src/Forms/DefaultFormFactory.php
  src/Forms/Form.php
  src/Forms/GridField/GridFieldDetailForm.php
  src/Forms/RequiredFields.php
  src/Forms/Validator.php
  src/ORM/DataExtension.php
  src/ORM/DataObject.php
  tests/php/Forms/CompositeValidatorTest.php
  tests/php/Forms/ValidatorTest/TestValidator.php
Labels: affects/v4, change/minor

#9606 DOCS PHP 7.4 support
  docs/en/03_Upgrading/01_Upgrading_project.md
  docs/en/04_Changelogs/4.6.0.md
Labels: affects/v4, type/docs

#9611 DOCS: Remove links to common problems
  docs/en/00_Getting_Started/index.md
  docs/en/01_Lessons/index.md
  docs/en/04_Changelogs/4.0.0.md
Labels: affects/v4, type/docs

#9064 NEW Add FilterInterface and retrofit into URLSegmentFilter
  src/View/Parsers/FilterInterface.php
  src/View/Parsers/URLSegmentFilter.php
Labels: affects/v4, change/minor

#9619 DOCS Tracking releases
  docs/en/05_Contributing/00_Issues_and_Bugs.md
  docs/en/05_Contributing/04_Release_Process.md
Labels: affects/v4, type/docs

#9618 DOCS HTTP header in server requirements
  docs/en/00_Getting_Started/00_Server_Requirements.md
  docs/en/02_Developer_Guides/09_Security/04_Secure_Coding.md
Labels: affects/v4, type/docs

#9598 Fixed php7.4 deprecation notice for magic quotes
  core/Constants.php
Labels: affects/v3, change/patch
