Repository silverstripe/silverstripe-framework, pull requests merged in 2020-11, with the labels that each got.

#9758 01_Error_Handling: % wrapped in quotes
  docs/en/02_Developer_Guides/07_Debugging/01_Error_Handling.md
Labels: affects/v4, type/docs

#9760 Link to the PHPCS standard used for framework
  docs/en/05_Contributing/14_PHP_Coding_Conventions.md
Labels: affects/v4, type/docs

#9741 ENH Add disabled attribute to SelectionGroup
  src/Forms/SelectionGroup.php
Labels: affects/v4, change/patch, effort/easy, type/enhancement

#9773 DOCS Update HistoryViewerField to require javascript more consistently
  docs/en/02_Developer_Guides/00_Model/10_Versioning.md
Labels: affects/v4, type/docs

#9190 Don't include default value in url grid state
  src/Forms/GridField/GridField.php
  src/Forms/GridField/GridFieldFilterHeader.php
  src/Forms/GridField/GridFieldPaginator.php
  src/Forms/GridField/GridFieldSortableHeader.php
  src/Forms/GridField/GridFieldStateManager.php
  src/Forms/GridField/GridField_StateProvider.php
  src/Forms/GridField/GridState.php
  src/Forms/GridField/GridState_Data.php
  tests/php/Forms/GridField/GridFieldStateManagerTest.php
  tests/php/Forms/GridField/GridStateDataTest.php
  tests/php/Forms/GridField/GridStateTest.php
Labels: affects/v4, change/minor, effort/medium, impact/low, type/enhancement

#9785 Remove Robbie from core committers doc
  docs/en/05_Contributing/09_Core_committers.md
Labels: affects/v4, type/docs
