Repository silverstripe/silverstripe-framework, pull requests merged in 2020-05, with the labels that each got.

#9332 Allow to add error message into a specific field
  src/Forms/Form.php
Labels: affects/v4, change/minor, feedback-required/core-team

#9503 Fixed broken link to the module creation docs
  docs/en/02_Developer_Guides/05_Extending/How_Tos/01_Publish_a_Module.md
Labels: affects/v4, type/docs

#9504 DOC Explain how to configure a low level application middleware
  docs/en/02_Developer_Guides/02_Controllers/05_Middlewares.md
Labels: affects/v4, type/docs

#9509 Add sha1 and md5 hashing options in resource URL
  src/Control/SimpleResourceURLGenerator.php
  tests/php/Control/SimpleResourceURLGeneratorTest.php
Labels: affects/v4, change/minor

#9473 Use short array syntax across the framework's codebase
  _register_database.php
  docs/en/02_Developer_Guides/00_Model/01_Data_Model_and_ORM.md
  docs/en/02_Developer_Guides/00_Model/02_Relations.md
  docs/en/02_Developer_Guides/00_Model/03_Lists.md
  docs/en/02_Developer_Guides/00_Model/04_Data_Types_and_Casting.md
  docs/en/02_Developer_Guides/00_Model/08_SQL_Select.md
  docs/en/02_Developer_Guides/08_Performance/00_Partial_Caching.md
  docs/en/02_Developer_Guides/09_Security/00_Member.md
  docs/en/02_Developer_Guides/18_Cookies_And_Sessions/02_Sessions.md
  docs/en/04_Changelogs/alpha/4.0.0-alpha1.md
  src/Control/Email/Email.php
  src/Dev/BulkLoader.php
  src/Dev/BulkLoader_Result.php
  src/Forms/FileField.php
  src/Forms/FileUploadReceiver.php
  src/Forms/SelectionGroup.php
  src/Forms/TextareaField.php
  src/ORM/Connect/DBQueryBuilder.php
  src/ORM/Connect/DBSchemaManager.php
  src/ORM/DataObjectSchema.php
  src/ORM/DataQuery.php
  src/ORM/FieldType/DBEnum.php
  src/ORM/FieldType/DBPercentage.php
  src/ORM/Queries/SQLAssignmentRow.php
  src/ORM/Queries/SQLInsert.php
  src/ORM/Queries/SQLSelect.php
  src/ORM/Queries/SQLUpdate.php
  src/ORM/Queries/SQLWriteExpression.php
  src/View/SSTemplateParser.peg
  src/View/SSTemplateParser.php
  src/View/TemplateGlobalProvider.php
  tests/behat/travis-upload-artifacts.php
  tests/bootstrap/cli.php
  tests/php/Control/ControllerTest/UnsecuredController.php
  tests/php/Core/ObjectTest.php
  tests/php/ORM/ArrayListTest.php
  tests/php/ORM/DataListTest.php
  tests/php/ORM/DataObjectTest.php
  tests/php/View/ViewableDataTest/CastingClass.php
  tests/php/i18n/i18nTest/_fakewebroot/i18nothermodule/code/i18nTestModuleDecorator.php
  tests/php/i18n/i18nTest/_fakewebroot/i18ntestmodule/code/i18nTestModule.php
  tests/php/i18n/i18nTextCollectorTest.php
  tests/phpcs_runner.php
Labels: affects/v4, change/minor

#9505 DOC Create dedicated article about limiting allowed file types
  docs/en/02_Developer_Guides/14_Files/03_File_Security.md
  docs/en/02_Developer_Guides/14_Files/06_Allowed_file_types.md
  docs/en/04_Changelogs/4.6.0.md
Labels: affects/v4, type/docs

#9530 DOCS Form::loadDataFrom constants in docblock
  src/Forms/Form.php
Labels: affects/v4, type/docs
