Repository silverstripe/silverstripe-framework, pull requests merged in 2020-01, with the labels that each got.

#9349 Update the documentation to reflect our new release lifecyle
  docs/en/03_Upgrading/02_Upgrading_module.md
  docs/en/05_Contributing/02_Build_Tooling.md
  docs/en/05_Contributing/04_Release_Process.md
  docs/en/05_Contributing/05_Making_A_SilverStripe_Core_Release.md
Labels: affects/v4, type/docs

#9370 Adding SS_ENVIRONMENT_TYPE to documentation
  docs/en/00_Getting_Started/index.md
Labels: affects/v4, type/docs

#9361 Minor performance improvement in DatabaseAdapterRegistry::autoconfigure()
  src/Dev/Install/DatabaseAdapterRegistry.php
Labels: affects/v4, change/patch

#9373 Fixed issue with merging existing entities in text collector
  src/i18n/TextCollection/i18nTextCollector.php
Labels: affects/v4, change/patch

#9367 array_key_exists() on objects is deprecated in PHP 7.4
  src/ORM/ArrayList.php
Labels: affects/v4, change/patch

#9378 Docs: Fix route that doesn't exist
  docs/en/02_Developer_Guides/02_Controllers/05_Middlewares.md
Labels: affects/v4, type/docs

#9371 added addExtraClass
  docs/en/02_Developer_Guides/03_Forms/How_Tos/04_Create_a_GridField_ActionProvider.md
Labels: affects/v4, feedback-required/core-team, type/docs
