Repository silverstripe/silverstripe-framework, pull requests merged in 2020-06, with the labels that each got.

#9533 DOCS fix broken link in changelog
  docs/en/04_Changelogs/beta/4.6.0-beta1.md
Labels: affects/v4, type/docs

#9535 array_key_exists() on objects is deprecated
  model/ArrayList.php
Labels: affects/v3, change/patch

#9547 Added mention of Session.timeout to secure_coding docs
  docs/en/02_Developer_Guides/09_Security/04_Secure_Coding.md
Labels: affects/v4, type/docs

#9546 deprecate First and Last in order to disambiguate for array lists
  docs/en/02_Developer_Guides/01_Templates/01_Syntax.md
  src/View/SSViewer_BasicIteratorSupport.php
Labels: affects/v4, affects/v5, change/minor, feedback-required/core-team, type/enhancement

#9551 update 5.0.0 changelog with First-Last deprecations
  docs/en/04_Changelogs/5.0.0.md
Labels: affects/v5, type/docs

#9558 4.6.0 changelog improvements
  docs/en/04_Changelogs/4.6.0.md
Labels: affects/v4, type/docs

#9566 Fixes getCMSFields TabSet example
  docs/en/02_Developer_Guides/00_Model/11_Scaffolding.md
Labels: affects/v4, type/docs

#8869 DOCS Add details about the recommended community support options
  SUPPORT.md
Labels: affects/v4, change/patch, feedback-required/core-team

#9514 DOC Add extra information on how to customise an file HTTP response
  docs/en/02_Developer_Guides/14_Files/03_File_Security.md
Labels: affects/v4, type/docs

#9545 Added onAfterBuild
  src/ORM/DataExtension.php
  src/ORM/DataObject.php
  src/ORM/DatabaseAdmin.php
Labels: affects/v4, change/minor

#9339 Add check for existence of 'which' command before proceeding with the…
  sake
Labels: affects/v4, change/minor
